.footer {
  position: fixed;
  border-top: 1px solid #d6d9dc;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row nowrap;
  padding: 0.5em;
}
.footer img {
  height: 50px;
  max-width: 100px;
}
.footer p {
  flex: 1;
  margin: 0;
  font-size: large;
  align-self: center;
  text-align: center;
}
